/neardev/
mynote/out/*
/.idea/
/football-bet/node_modules/
/mynote/node_modules
/expense/node_modules/
/mynote/.cache/
/mynote/dist/
mynote/dist/index.js
mynote/dist/index.html
mynote/dist/index.js
mynote/dist/src.e31bb0bc.js.map
